{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1>Drumming Rudiments</h1>
            <p class="lead">Drumming rudiments are fundamental sticking patterns, often called the "alphabet of
                drumming". They are used to develop speed, control, and musicality. In this course, you will learn 3
                drum rudiments to get started on your own drumming journey.</p>
        </div>
    </div>

    {% include 'footer.html' %}
</div>
{% endblock %}
